---
import MainLayout from "../layouts/Main.astro";
import PostCard from "../components/PostCard.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<MainLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class="white dark:bg-gray-900">
    <section class="divide-slate-50 dark:divide-slate-700">
      <ul>
        {
          posts.map((post) => (
            <li>
              <PostCard post={post} />
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</MainLayout>
