---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";
const { post } = Astro.props as {
  post: CollectionEntry<"blog">;
};
---

<div
  class="p-4 border border-gray-200 bg-white hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 "
  style="border-radius: 0.5rem;"
>
  <a href={post.slug}>
    <h4 class="text-center text-2xl font-bold text-black dark:text-white transition-colors duration-300">{post.data.title}</h4>
    <p class="text-center text-gray-500 text-sm dark:text-gray-400 ">
      {post.data.description}
    </p>
    <p class="text-center text-gray-500 text-sm dark:text-gray-400 t">
      <FormattedDate date={post.data.pubDate} />
    </p>
  </a>
</div>