---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Main from "./Main.astro"; // Import Main.astro

type Props = CollectionEntry<"blog">["data"];
const { title, description, pubDate, updatedDate } = Astro.props;
---

<html lang="en">
 <body>
    <Main>
      <article class="">
        <div
          class="article
          prose
          max-w-3xl
          mx-auto
          px-4
          py-8
          divide-slate-50
          divide-y
          divide-solid
          divide-opacity-10"
        >
          <div class="title">
            <div class="date">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            <h1>{title}</h1>
            <hr />
          </div>
          <slot />
        </div>
      </article>
    </Main>
  </body>
</html>
